@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Malayalam:wght@100;200;300;400;500;600;700&display=swap"); 
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f5f7fa;

}


::-webkit-scrollbar-thumb {
  background: #a9afb8;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
font-family: 'Rubik', sans-serif;
}
.rubik{
font-family: 'Rubik', sans-serif;
}

.play {
  font-family: "Playfair Display", serif;
}
.noto {
  font-family: "Noto Serif Malayalam", serif;
}
input[type="text"],
input[type="number"],

input[type="time"],
input[type="password"],
textarea,
select {
  @apply appearance-none rounded relative block  px-3 py-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none  focus:z-10 sm:text-sm focus:border-blue-400;
}
.primary-button{
@apply rounded bg-slate-300 py-2 px-4 shadow outline-none hover:bg-slate-400 active:bg-slate-500
}
.default-button{
@apply rounded bg-gray-200 py-2 px-4 shadow outline-none hover:bg-gray-300 active:bg-gray-400
}
.alert-error{
@apply my-3 rounded-lg bg-red-100 p-3 text-red-700
}
.alert-success{
@apply my-3 rounded-lg bg-green-100 p-3 text-green-700
}
a{
@apply text-blue-600 hover:text-blue-800
}

aside li{
@apply py-2 px-2 hover:bg-zinc-100 text-zinc-100 hover:text-gray-600 font-semibold w-full
}
aside li a{
@apply text-zinc-100 block
}
aside li:hover > a{
@apply text-gray-600
}
aside:hover h1{
display:inline;
}
aside:hover h3{
display:inline;
}
aside:hover span{
display:inline;
}
aside:hover img{
@apply w-12
}
aside:hover li{
@apply text-start
}
aside{
min-width:max-content;
width:14%
}

table,
th,
td {
  padding: 1rem;
  border-collapse: collapse;
}
th,
td {
  width: 2px;
}
thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #d5d1defe;
}
tbody tr:nth-child(even) {
  background-color: #0000000b;
}
tbody tr:hover {
  background-color: #fff6;
}
.table_body {
  @apply w-full max-h-full overflow-auto rounded bg-slate-200 text-gray-600 shadow-md mx-auto
}
table td a:hover{
text-decoration:underline
}
.status-button{
@apply p-2 text-white rounded-full min-w-full font-bold;
width:7rem;
}
.featured{
@apply hover:bg-green-700 bg-green-500 
}
.not-featured{
@apply hover:bg-red-700 bg-red-500 
}
.disabled{
@apply bg-zinc-400

}
.add-button{
@apply py-1 px-2 rounded border-2 border-blue-500 hover:bg-blue-500 text-gray-600 hover:text-zinc-100
}
.post-card {
  cursor: pointer;
  transition: 0.3s ease;
}
.post-card:hover {
  transform: scale(1.03);
  /* filter: drop-shadow(-1px 38px 43px -20px rgba(0,0,0,0.29)); */
  box-shadow: -1px 38px 43px -20px rgba(0, 0, 0, 0.08);
}
.img-link:hover > button{
display:block;
}


.validation-button{
@apply text-white py-2 px-2 rounded ml-auto block;
width:5rem;
}
.toPost{
@apply hover:bg-green-800  bg-green-500
}
.toValidate{
@apply hover:bg-red-800  bg-red-500
}
.card{
@apply shadow-md rounded p-2 bg-gray-300;

}
.card h1{
@apply text-2xl font-bold border-b-2 mb-1;
height:2rem;
}
.card h1 + div{
height:5rem;
}
.card h3{
@apply text-xl font-bold 
}
.card h4{
@apply  font-semibold
}
.card > div > div {
@apply py-1 px-2 flex justify-between
}
.card a{
@apply py-1 px-2 rounded text-zinc-100 hover:text-zinc-100 font-semibold
}
.card a:nth-child(1){
@apply bg-gray-600 hover:bg-gray-500
}
.card a:nth-child(2){
@apply bg-blue-500 hover:bg-blue-400
}
.card div:nth-child(3){
@apply flex justify-between
}
input[type="date"]{
@apply p-1 border-2 rounded
}
.file-upload {
  font-family: Arial, sans-serif;
}

.file-upload__input {
  display: flex;
flex-direction:column;
  align-items: center;
  gap: 5px;
}

.file-upload__input input[type="text"] {
  width:100%;
}
.file-upload__input button {
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
float:right
}

.file-upload__input input[type="file"] {
  display: none;
}
.upload{
@apply text-white rounded w-full py-2 px-3 mt-1 
}

.css-1nmdiq5-menu{
z-index:3 !important;
}
#body .para,.strong{
@apply text-lg p-2 block  relative
}

.controls {
@apply p-1 rounded bg-zinc-300 text-lg block hover:bg-zinc-400 active:bg-zinc-400 text-zinc-600
}

#body.active{
@apply border-2 border-blue-500
}

.placeholder::after{
content:"Start writing here...";
opacity:"1";
font-size:"3px" !important;
}
#body .figure img{
@apply rounded w-3/4 block m-auto
}
#body .figure{
@apply rounded p-1 bg-zinc-100 relative py-5 mb-1
}

.active{
@apply border-2 border-blue-200
}
.cont{
@apply relative py-5 bg-zinc-100 p-1 mb-1 rounded 
}
.add button{
@apply p-1 bg-zinc-200 text-zinc-600 rounded text-lg hover:bg-zinc-300 active:bg-zinc-300
} 

